/* General */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    color: #444;
    background-color: #fff;
}
.structureWrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.gridWrapper {
    margin: 0 auto;
    padding: 0 25px;
    max-width: 1186px;
}
header {
    box-sizing: border-box;
    width: 100%;
    padding: 25px 0;
    background-color: #0f2741;
}
#content {
    padding: 50px 0;
    flex: 1 1 0;

}
.footer {
    padding: 10px 0;
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    background-color: #0f2741;
}

/* Logo */
.logo {
    display: block;
    width: auto;
    height: 36px;
}

/* Text */
.headline {
    font-size: 2.5em;
    font-weight: 300;
    margin-bottom: 0.5em;
}
.paragraph {
    margin-top: 0.5em;
    color: #455f7c;
    line-height: 1.6;
}
.paragraph:first-of-type {
    margin-top: 0;
}

#introductionText h1{
    color: #0f2741;
    font-size: 2.5em;
    font-weight: 400;
    margin-bottom: 0.5em;
    line-height: 1.5;
}
/* Fizz Buzz list */
#fizzBuzzList{
    margin-top: 50px;
    background-color: #f5f8fb;
    padding: 15px;
    border-radius: 5px;
}

.fizzbuzz--text{
    font-weight: 700;
    color: #000;
    /*text-decoration: underline;*/
}

.fizz--text{
    font-weight: 700;
    color:#7cc305;
}
.buzz--text{
    font-weight: 700;
    color:#0077d5;
}

#mainList li{
    border-bottom: 1px solid #eaeaea;
    margin-bottom: 10px;
}

#mainList li:last-of-type{
    border-bottom: none;
    margin-bottom: 0;
}

@media (max-width: 1200px) {
    #content{
        padding: 50px 25px;
    }
}